[Unit]
Description=Unibo Fileseeker
Documentation=https://github.com/csunibo/fileseeker

After=network.target

[Service]
User=fileseeker
Group=fileseeker
ReadWriteDirectories=/opt/fileseeker/
WorkingDirectory=/opt/fileseeker/source/
ExecStart=/opt/fileseeker/source/fileseeker -d /opt/fileseeker/data/
