[Unit]
Description=Unibo Fileseeker
Documentation=https://github.com/csunibo/fileseeker

After=network.target

[Service]
User=fileseeker
Group=fileseeker
WorkingDirectory=/opt/fileseeker/source
ReadWriteDirectories=/opt/fileseeker/source
ExecStart=/opt/fileseeker/source/fileseeker \
    --basepath "http://csunibo.github.io" \
    --addr "0.0.0.0:80" \
    --proxy \
    --human

[Install]
WantedBy=multi-user.target
