[Unit]
Description=WebDav Rclone Service
After=network.target

[Service]
User=fileseeker
Group=fileseeker
ReadWriteDirectories=/opt/fileseeker/
ExecStart=rclone serve webdav --addr :80 /opt/fileseeker/data/

[Install]
WantedBy=multi-user.target
