[Unit]
Description=Unibo Calendar
Documentation=https://github.com/VaiTon/UniboCalendar

After=network.target

[Service]
User=calendar
Group=calendar
ExecStart=/opt/calendar/source/unibocalendar
WorkingDirectory=/opt/calendar/source
ReadWriteDirectories=/opt/calendar/source

Environment="PORT=80"
Environment="GIN_MODE=release"

[Install]
WantedBy=multi-user.target
