[Unit]
Description=Unibo Calendar
Documentation=https://github.com/VaiTon/UniboCalendar

After=network.target

[Service]
User=calendar
Group=calendar
ExecStart=npm start
WorkingDirectory=/opt/calendar/source
ReadWriteDirectories=/opt/calendar/source

Environment="PORT=80"
Environment="BIND_ADDR=0.0.0.0"

[Install]
WantedBy=multi-user.target
