[Unit]
Description=Homework server
Documentation=https://github.com/cartabinaria/homework.git

After=network.target

[Service]
User=homework
Group=homework
ExecStart=/opt/homework/node-v{{ nodejs_version }}-linux-x64/bin/node /opt/homework/source/server.js
WorkingDirectory=/opt/homework/source/
ReadWriteDirectories=/opt/homework/source

[Install]
WantedBy=multi-user.target
