- name: Set timezone to Europe/Rome
  become: true
  community.general.timezone:
    name: Europe/Rome

- name: Install required packages
  become: true
  ansible.builtin.package:
    name:
      - acl # needed to become the fileseeker user
      - git
    state: latest
    update_cache: true

- name: Create the fileseeker user
  become: true
  ansible.builtin.user:
    state: present
    system: true
    name: fileseeker
    home: /opt/fileseeker
    shell: /bin/bash

- name: Define Go Version
  ansible.builtin.set_fact:
    go_version: 1.23.0

- name: Check if go is installed
  become: true
  ansible.builtin.stat:
    path: /opt/fileseeker/go
  register: go_installed

- name: Check if go match the required version
  when: go_installed.stat.exists
  block:
    - name: Get the installed version
      become: true
      ansible.builtin.command: /opt/fileseeker/go/bin/go version
      register: go_installed_version

    - name: Remove go dir if the version does not match
      when: not go_version in go_installed_version.stdout
      become: true
      ansible.builtin.file:
        path: /opt/fileseeker/go
        state: absent

    - name: Make go reinstall
      when: not go_version in go_installed_version.stdout
      ansible.builtin.set_fact:
        need_to_reinstall_go: true

- name: Install Go Binary
  become: true
  become_user: fileseeker
  ansible.builtin.unarchive:
    src: "https://go.dev/dl/go{{ go_version }}.linux-amd64.tar.gz"
    dest: /opt/fileseeker
    remote_src: true
  when: not go_installed.stat.exists or need_to_reinstall_go|default(false)
  register: go_has_been_reinstalled

- name: Clone the fileseeker project
  become: true
  become_user: fileseeker
  ansible.builtin.git:
    repo: https://github.com/cartabinaria/fileseeker.git
    dest: /opt/fileseeker/source
    recursive: true
    force: true
    single_branch: true
  register: git_result

- name: Build fileseeker with go
  when: git_result.changed or go_has_been_reinstalled.changed|default(false)
  become: true
  become_user: fileseeker
  ansible.builtin.shell:
    cmd: /opt/fileseeker/go/bin/go build -o /opt/fileseeker/fileseeker .
    chdir: /opt/fileseeker/source
  register: bot_has_been_built

- name: Copy Systemd service and config
  become: true
  ansible.builtin.template:
    src: files/fileseeker/{{ item.src }}
    dest: "{{ item.dst }}"
  loop:
    - { src: fileseeker.service.j2, dst: /etc/systemd/system/fileseeker.service }
    - { src: config.toml.j2, dst: /opt/fileseeker/config.toml }
  register: systemd_service_result

- name: Reload the systemd daemon
  become: true
  ansible.builtin.service:
    daemon_reload: true
  when: systemd_service_result.changed

- name: Enable systemd services
  become: true
  ansible.builtin.systemd:
    name: fileseeker 
    enabled: true
    state: started
