[Unit]
Description=Informabot
Documentation=https://github.com/cartabinaria/informabot.git

After=network.target

[Service]
User=bot
Group=bot
Environment=TOKEN={{ bot_token }}
Environment=GOTRACEBACK=crash
ExecStart=/opt/bot/bot 
WorkingDirectory=/opt/bot/source/
ReadWriteDirectories=/opt/bot/source
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
