[Unit]
Description=Unibo GoBot 
Documentation=https://github.com/csunibo/informabot.git

After=network.target

[Service]
User=bot
Group=bot
ExecStart=/opt/bot/bot {{ bot_token }}
WorkingDirectory=/opt/bot/source/
ReadWriteDirectories=/opt/bot/source

[Install]
WantedBy=multi-user.target
