listen = "0.0.0.0:3000"
base_url = "http://cslogin.students.cs.unibo.it"
client_urls = ["http://localhost:5173"]
cookie_domain = "students.cs.unibo.it"
 
oauth_client_id = ""
oauth_client_secret = ""
oauth_signing_key = ""
