[Unit]
Description=CSLogin
Documentation=https://github.com/cartabinaria/auth

After=network.target

[Service]
User=cslogin
Group=cslogin
Environment=GOTRACEBACK=crash
ExecStart=/opt/cslogin/cslogin /opt/cslogin/config.toml
WorkingDirectory=/opt/cslogin
ReadWriteDirectories=/opt/cslogin
Restart=always

[Install]
WantedBy=multi-user.target
