[Unit]
Description=Polleg
Documentation=https://github.com/csunibo/polleg

After=network.target

[Service]
User=polleg
Group=polleg
Environment=GOTRACEBACK=crash
ExecStart=/opt/polleg/polleg 
WorkingDirectory=/opt/polleg
ReadWriteDirectories=/opt/polleg

[Install]
WantedBy=multi-user.target
