[Unit]
Description=CartaBinaria Dynamik website
Documentation=https://github.com/cartabinaria/dynamik

After=network.target

[Service]
User=dynamik
Group=dynamik
ExecStart=node build
WorkingDirectory=/opt/dynamik/source
ReadWriteDirectories=/opt/dynamik/source

Environment="PORT=80"
Environment="HOST={{ ansible_host }}"

[Install]
WantedBy=multi-user.target
